<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonp-1.1</feature>
        <feature>cdi-2.0</feature>
        <feature>localConnector-1.0</feature>
        <feature>servlet-4.0</feature>
    </featureManager>

    <applicationManager autoExpand="true" />
    <mpMetrics authentication="false"/>
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="${HTTP_PORT}" httpsPort="${HTTPS_PORT}"/>

    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>
    <webApplication location="validation-service.war" context-root="/"/>
</server>